<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="api" type="ApiServiceEngine.Configuration.ApiSection, ApiServiceEngine.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="default" connectionString="character set=WIN1251;data source=192.168.0.22;initial catalog=profitsoft_test;user id=SYSDBA;password=dbsrv;dialect=3;port=3050" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="knv3_local" connectionString="character set=WIN1251;data source=localhost;initial catalog=d:\dbtest\knv3_test.fdb;user id=SYSDBA;password=dbsrv;dialect=3;port=3050" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="home" connectionString="character set=WIN1251;data source=localhost;initial catalog=d:\databases\test.fdb;user id=SYSDBA;password=masterkey;dialect=3;port=3050" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>

  <api xmlns="ApiServiceEngine">
    <tasks>
      <task name="UpdateGoods">
        <methods>
          <add method="InfoGoodsList" />
        </methods>
      </task>
      <task name="UpdateOperations">
        <methods>
          <add method="InfoCardOperation" />
        </methods>
      </task>
    </tasks>
    <services>
      <service name="Wialon" comment="Wialon" />
      <service name="Rosneft" comment="Роснефть">
        <settings>
          <accounts default="*">
            <account name="TKNV" login="1070046644" password="tnv73kevhsan" contract_id="117"/>
            <account name="KNV" login="10700459661" password="knv73kevhsan" contract_id="105"/>
            <account name="PAV" login="10700459971" password="pav73kevhsan" contract_id="106"/>
            <account name="PMA" login="1070046052" password="pma73kevhsan" contract_id="108"/>
          </accounts>
          <get url="https://lk.rn-card.ru/api/v{version}/{method_name}/[{pages}/]?[{parameters}&amp;]u={login}&amp;p={password}&amp;type=JSON"/>
          <post url="https://lk.rn-card.ru/api/v{version}/{method_name}">
            <contents>
              <add name="User" value="{login}"/>
              <add name="Password" value="{password}"/>
            </contents>
          </post>
        </settings>
        <methods>
          <!--
          Имя метода (name) может быть таким же как api_name или как соответствующее поле 
          класса описывающего данные этого метода
          
          Порядок и количество выходных параметров должно соответствовать параметрам
          процедуры указанной в procedure
          
          Имена методов, процедур, параметров не зависит от регистра
          -->
          <!--Запрос информации о договоре по номеру карты-->
          <method name="InfoCardContract" procedure="API$INFO_CARD_CONTRACT">
            <in>
              <parameter name="Card" is_page="true" />
            </in>
            <out>
              <parameter name="ContractId" api_name="subjID">
                <db field="I$SUBJID" type="Integer" />
              </parameter>
              <parameter name="ContractNum">
                <db field="I$CONTRACTNUM" type="VarChar" length="255" />
              </parameter>
              <parameter name="ContractDate">
                <db field="I$CONTRACTDATE" type="TimeStamp" />
              </parameter>
            </out>
          </method>
          <!--Запрос информации о товарах/услугах-->
          <method name="InfoGoodsList" procedure="API$INFO_GOODS_LIST">
            <in>
              <parameter name="ContractId" api_name="subjID" account_parameter="contract_id" />
            </in>
            <out>
              <parameter name="GoodsID" api_name="id">
                <db field="I$ID" type="Integer" />
              </parameter>
              <parameter name="Name">
                <db field="I$NAME" type="VarChar" length="255" />
              </parameter>
              <parameter name="FullName" api_name="fName">
                <db field="I$FNAME" type="VarChar" length="255" />
              </parameter>
            </out>
          </method>
          <!--Запрос информации об операциях клиента (оперативные данные)-->
          <method name="InfoCardOperation" version="3" procedure="API$INFO_CARD_OPERATION">
            <in>
              <parameter name="Card" is_page="true" default="0" />
              <parameter name="BeginDate" api_name="dateBegin" />
              <parameter name="EndDate" api_name="dateEnd" />
              <parameter name="OnContract" api_name="subj" />
              <parameter name="ContractID" api_name="subjID" account_parameter="contract_id" />
            </in>
            <out>
              <parameter name="OperDate">
                <db field="I$OPER_DATE" />
              </parameter>
              <parameter name="CardId">
                <db field="I$CARD_ID" />
              </parameter>
              <parameter name="OperType">
                <db field="I$OPER_TYPE" />
              </parameter>
              <parameter name="OperValue">
                <db field="I$OPER_VALUE" />
              </parameter>
              <parameter name="OperPrice">
                <db field="I$OPER_PRICE" />
              </parameter>
              <parameter name="PosAddress">
                <db field="I$POS_ADDRESS" />
              </parameter>
              <parameter name="GoodsID">
                <db field="I$GOODS_ID" />
              </parameter>
              <parameter name="OperGuid">
                <db field="I$OPER_GUID" />
              </parameter>
              <parameter name="Pos">
                <db field="I$POS" />
              </parameter>
            </out>
          </method>
          <!--Запрос операций обслуживания и возвратов с учетом скидок по картам (или договору) клиента-->
          <method name="InfoCardOperationDisc" version="3" procedure="API$INFO_CARD_OPERATION_DISC">
            <in>
              <parameter name="Card" is_page="true" default="0" />
              <parameter name="BeginDate" api_name="dateBegin" />
              <parameter name="EndDate" api_name="dateEnd" />
              <parameter name="OnContract" api_name="subj" />
              <parameter name="ContractID" api_name="subjID" account_parameter="contract_id" />
              <parameter name="AllOper" api_name="allOperType" required="false" />
            </in>
            <out>
              <parameter name="OperDate">
                <db field="I$OPER_BEGIN" type="TimeStamp" />
              </parameter>
              <parameter name="CardId">
                <db field="I$CARD_ID" type="Decimal" />
              </parameter>
              <parameter name="OperType">
                <db field="I$OPER_TYPE" type="Integer" />
              </parameter>
              <parameter name="OperValue">
                <db field="I$OPER_VALUE" type="Decimal" />
              </parameter>
              <parameter name="OperSum">
                <db field="I$OPER_SUM" type="Decimal" />
              </parameter>
              <parameter name="OperPrice">
                <db field="I$OPER_PRICE" type="Decimal" />
              </parameter>
              <parameter name="PosAddress">
                <db field="I$POS_ADDRESS" type="VarChar" length="999" />
              </parameter>
              <parameter name="GoodsID">
                <db field="I$GOODS_ID" type="Integer" />
              </parameter>
              <parameter name="OperGuid">
                <db field="I$OPER_GUID" type="VarChar" length="40" />
              </parameter>
              <parameter name="OperSumDisc">
                <db field="I$OPER_SUM_DISC" type="Decimal" />
              </parameter>
              <parameter name="OperPriceDisc">
                <db field="I$OPER_PRICE_DISC" type="Decimal" />
              </parameter>
            </out>
          </method>
          <!--Запрос информации о балансе карты и клиента (схема ЭК)-->
          <method name="InfoCardAccountSaldo" procedure="API$INFO_CARD_ACCOUNT_SALDO">
            <in>
              <parameter name="Card" is_page="true" />
              <parameter name="OnContract" api_name="subj" />
              <parameter name="ContractID" api_name="subjID" required="false" />
            </in>
            <out>
              <parameter name="CardID">
                <db field="I$CARD_ID" type="Decimal" />
              </parameter>
              <parameter name="ContractSaldo" api_name="subjSaldo">
                <db field="I$SUBJ_SALDO" type="Decimal" />
              </parameter>
              <parameter name="CardSaldo">
                <db field="I$CARD_SALDO" type="Decimal" />
              </parameter>
              <parameter name="OperOpSum">
                <db field="I$OPER_OP_SUM" type="Decimal" />
              </parameter>
            </out>
          </method>
          <!--Запрос информации о картах клиента-->
          <method name="InfoContractCardList" procedure="API$INFO_CONTRACT_CARD_LIST">
            <in>
              <parameter name="ContractID" api_name="subjID" is_page="true" account_parameter="contract_id" />
            </in>
            <out>
              <parameter name="CardID" api_name="ID">
                <db field="I$CARD_ID" type="Decimal" />
              </parameter>
              <parameter name="Status">
                <db field="I$STATUS" type="VarChar" length="255" />
              </parameter>
              <parameter name="Owner">
                <db field="I$OWNER" type="VarChar" length="80" />
              </parameter>
              <parameter name="Type">
                <db field="I$TYPE" type="VarChar" length="1" />
              </parameter>
            </out>
          </method>
          <!--Запрос информации о текущем балансе клиента-->
          <method name="InfoContractAccountSaldo" procedure="API$INFO_CONTRACT_CCOUNT_SALDO">
            <in>
              <parameter name="ContractID" api_name="subjID" is_page="true" account_parameter="contract_id" />
            </in>
            <out>
              <parameter name="Saldo">
                <db field="I$SALDO" type="Decimal" />
              </parameter>
            </out>
          </method>
          <!--Запрос информации о лимитах карт по сумме обслуживания-->
          <!--
          На текущий момент услуга установки лимитов по сумме обслуживания неактивна
          и по всем картам информация выдается с ошибкой 24.
          Установка CardList почему-то не имеет эффекта (метод всегда возвращает список всех карт по договору)
          -->
          <method name="InfoCardLimitSum" procedure="API$INFO_CARD_LIMIT_SUM" request="Post">
            <in>
              <parameter name="ContractID" api_name="subjID" account_parameter="contract_id" />
              <parameter name="CardList" is_list="true" />
            </in>
            <out>
              <parameter name="CardID" api_name="ID">
                <db field="I$CARD_ID" type="Decimal" />
              </parameter>
              <parameter name="ErrorCode" api_name="err">
                <db field="I$ERR" type="Integer" />
              </parameter>
              <parameter name="Daily">
                <db field="I$DAILY" type="Decimal" />
              </parameter>
              <parameter name="Monthly">
                <db field="I$MONTHLY" type="Decimal" />
              </parameter>
              <parameter name="DailyCurr">
                <db field="I$DAILY_CURR" type="Decimal" />
              </parameter>
              <parameter name="MonthlyCurr">
                <db field="I$MONTHLY_CURR" type="Decimal" />
              </parameter>
            </out>
          </method>
          <!--Запрос информации о текущих лимитах на карте (для офлайн и гибридных карт  - тип A,В,C,F)-->
          <method name="InfoCardLimitOffline" procedure="API$INFO_CARD_LIMIT_OFFLINE" request="Post">
            <in>
              <parameter name="ContractID" api_name="SubjID" account_parameter="contract_id" />
              <parameter name="CardList" is_list="true" required="true"/>
            </in>
            <out>
              <parameter name="CardID" api_name="ID" path="/Card">
                <db field="I$CARD_ID" type="Decimal" />
              </parameter>
              <parameter name="ErrorCode" api_name="errorCode">
                <db field="I$ERROR_CODE" type="Integer" />
              </parameter>
              <parameter name="ErrorMessage" api_name="errorMessage">
                <db field="I$ERROR_MESSAGE" type="VarChar" length="999" />
              </parameter>
              <parameter name="GoodsID" api_name="ID" path="/Card/Goods/Item">
                <db field="I$GOODS_ID" type="Integer" />
              </parameter>
              <parameter name="GoodsName" api_name="name">
                <db field="I$GOODS_NAME" type="VarChar" length="255" />
              </parameter>
              <parameter name="Unit" api_name="unit">
                <db field="I$UNIT" type="VarChar" length="20" />
              </parameter>
              <parameter name="IndLimit" api_name="indLimit">
                <db field="I$IND_LIMIT" type="VarChar" length="1" />
              </parameter>
              <parameter name="LimitScheme" api_name="limitScheme">
                <db field="I$LIMIT_SCHEME" type="VarChar" length="1" />
              </parameter>
              <parameter name="LimitType" api_name="limitType">
                <db field="I$LIMIT_TYPE" type="VarChar" length="1" />
              </parameter>
              <parameter name="Limit" api_name="limit">
                <db field="I$LIMIT" type="Decimal" />
              </parameter>
              <parameter name="MaxLimit" api_name="maxlimit">
                <db field="I$MAX_LIMIT" type="Decimal" />
              </parameter>
              <parameter name="OilStatus" api_name="oilStatus">
                <db field="I$OIL_STATUS" type="VarChar" length="20" />
              </parameter>
              <parameter name="OilValue" api_name="oilValue">
                <db field="I$OIL_VALUE" type="Decimal" />
              </parameter>
              <parameter name="OilBegin" api_name="oilBegin">
                <db field="I$OIL_BEGIN" type="Date" />
              </parameter>
              <parameter name="OilEnd" api_name="oilEnd">
                <db field="I$OIL_END" type="Date" />
              </parameter>
            </out>
          </method>
        </methods>
      </service>
    </services>
  </api>

  <nlog configSource="NLog.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>