<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="api" type="ApiServiceEngine.Configuration.ApiSection, ApiServiceEngine.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="default" connectionString="character set=WIN1251;data source=192.168.0.22;initial catalog=profitsoft_test;user id=SYSDBA;password=dbsrv;dialect=3;port=3050" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="knv3_local" connectionString="character set=WIN1251;data source=localhost;initial catalog=d:\dbtest\knv3_test.fdb;user id=SYSDBA;password=dbsrv;dialect=3;port=3050" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>

  <api xmlns="ApiServiceEngine">
    <tasks>
      <task name="UpdateOperations">
        <methods>
          <add method="InfoCardOperation" />
        </methods>
      </task>
    </tasks>
    <services>
      <service name="Wialon" comment="Wialon" type="ApiServiceEngine.WialonAPI" />
      <service name="Rosneft" comment="Роснефть" type="ApiServiceEngine.RosneftAPI">
        <settings url="https://lk.rn-card.ru/api" login="1070046644" password="tnv73kevhsan"/>
        <methods>
          <!--Запрос информации об операциях клиента (оперативные данные)-->
          <method name="InfoCardOperation" version="3" procedure="API$INFO_CARD_OPERATION">
            <in>
              <parameter name="Card" api_name="card" is_page="true"/>
              <parameter name="BeginDate" api_name="dateBegin"/>
              <parameter name="EndDate" api_name="dateEnd"/>
              <parameter name="OnContract" api_name="subj"/>
              <parameter name="ContractID" api_name="subjID" required="false"/>
            </in>
            <out>
              <parameter name="OperDate" api_name="operDate">
                <db field="I$OPER_DATE" type="TimeStamp"/>
              </parameter>
              <parameter name="CardId" api_name="cardID">
                <db field="I$CARD_ID" type="Decimal"/>
              </parameter>
              <parameter name="OperType" api_name="operType">
                <db field="I$OPER_TYPE" type="Integer"/>
              </parameter>
              <parameter name="OperValue" api_name="operValue">
                <db field="I$OPER_VALUE" type="Decimal"/>
              </parameter>
              <parameter name="OperSum" api_name="operSum">
                <db field="I$OPER_SUM" type="Decimal"/>
              </parameter>
              <parameter name="OperPrice" api_name="operPrice">
                <db field="I$OPER_PRICE" type="Decimal"/>
              </parameter>
              <parameter name="SubjID" api_name="subjID">
                <db field="I$CONTRACT_ID" type="Integer"/>
              </parameter>
              <parameter name="PosAddress" api_name="posAddress">
                <db field="I$POS_ADDRESS" type="VarChar" length="999"/>
              </parameter>
              <parameter name="GoodsID" api_name="goodsID">
                <db field="I$GOODS_ID" type="Integer"/>
              </parameter>
              <parameter name="GoodsName" api_name="goodsName">
                <db field="I$GOODS_NAME" type="VarChar" length="255"/>
              </parameter>
              <parameter name="CardHolder" api_name="cardHolder">
                <db field="I$CARD_HOLDER" type="VarChar" length="80"/>
              </parameter>
              <parameter name="OperGuid" api_name="operGuid">
                <db field="I$OPER_GUID" type="VarChar" length="32"/>
              </parameter>
              <parameter name="Pos" api_name="pos">
                <db field="I$POS_ID" type="Decimal"/>
              </parameter>
            </out>
          </method>
        </methods>
      </service>
    </services>
  </api>

  <nlog configSource="NLog.config" />
</configuration>