<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="api" type="ApiServiceEngine.Configuration.ApiConfigSection, ApiServiceEngine" allowExeDefinition="MachineToLocalUser" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="default" connectionString="character set=WIN1251;data source=192.168.0.22;initial catalog=profitsoft_test;user id=SYSDBA;password=dbsrv;dialect=3;port=3050" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="knv3_local" connectionString="character set=WIN1251;data source=localhost;initial catalog=d:\dbtest\knv3_test.fdb;user id=SYSDBA;password=dbsrv;dialect=3;port=3050" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>

  <api>
    <tasks>
      <task name="UpdateDictionaries">
        <methods>
          <add method="InfoCardContract" />
          <add method="InfoGoodsList" />
        </methods>
      </task>
      <task name="UpdateOperations">
        <methods>
          <add method="InfoCardLimitSum" />
        </methods>
      </task>
    </tasks>
    <parameters>
      <add param="Card" api_name="card" />
      <add param="ContractID" api_name="subjID" />
      <add param="BeginDate" api_name="dateBegin" />
      <add param="EndDate" api_name="dateEnd" />
      <add param="Subj" api_name="subj" />
      <add param="Subj1" api_name="subj" method="InfoCardOperationDisc" />
      <add param="Subj2" api_name="subj" method="InfoCardAccountSaldo" />
      <add param="AllOperType" api_name="allOperType" />
      <add param="CardList" api_name="cardList" />
    </parameters>
    <services>
      <service name="Wialon" comment="Wialon" type="ApiServiceEngine.WialonAPI" />
      <service name="Rosneft" comment="Роснефть" type="ApiServiceEngine.RosneftAPI">
        <settings address="https://lk.rn-card.ru/api/v2" login="1070046644" password="tnv73kevhsan" />
        <methods>
          <method name="InfoCardContract" procedure="API$INFO_CARD_CONTRACT">
            <!--Входные параметры-->
            <add param="card" is_page="true" in="true" field="I$CARD" type="Decimal"/>
            <!--Выходные параметры-->
            <add param="subjID" field="I$SUBJID" type="Integer" />
            <add param="contractNum" field="I$CONTRACTNUM" type="VarChar" len="255" />
            <add param="contractDate" field="I$CONTRACTDATE" type="TimeStamp" />
          </method>
          <method name="InfoGoodsList" procedure="API$INFO_GOODS_LIST">
            <!--Входные параметры-->
            <add param="subjID" in="true" field="I$SUBJID" type="Integer" />
            <!--Выходные параметры-->
            <add param="id" field="I$ID" type="Integer" />
            <add param="name" field="I$NAME" type="VarChar" len="255" />
            <add param="fName" field="I$FNAME" type="VarChar" len="255" />
          </method>
          <method name="InfoCardOperation" procedure="API$INFO_CARD_OPERATION">
            <!--Входные параметры-->
            <add param="card" is_page="true" in="true" />
            <add param="dateBegin" in="true" />
            <add param="dateEnd" in="true" />
            <add param="subj" in="true" />
            <add param="subjID" in="true" />
            <!--Выходные параметры-->
            <add param="operDate" field="I$OPER_BEGIN" type="TimeStamp" />
            <add param="cardID" field="I$CARD_ID" type="Decimal" />
            <add param="operType" field="I$OPER_TYPE" type="Integer" />
            <add param="operValue" field="I$OPER_VALUE" type="Decimal" />
            <add param="operSum" field="I$OPER_SUM" type="Decimal" />
            <add param="operPrice" field="I$OPER_PRICE" type="Decimal" />
            <add param="subjID" field="I$OPER_SUBJID" type="Integer" />
            <add param="posAddress" field="I$POS_ADDRESS" type="VarChar" len="999" />
            <add param="goodsID" field="I$GOODS_ID" type="Integer" />
            <add param="goodsName" field="I$GOODS_NAME" type="VarChar" len="255" />
            <add param="cardHolder" field="I$CARD_HOLDER" type="VarChar" len="80" />
            <add param="operGuid" field="I$OPER_GUID" type="VarChar" len="32" />
            <add param="pos" field="I$POS_ID" type="Integer" />
          </method>
          <method name="InfoCardOperationDisc" procedure="API$INFO_CARD_OPERATION_DISC">
            <!--Входные параметры-->
            <add param="card" is_page="true" in="true" />
            <add param="dateBegin" in="true" />
            <add param="dateEnd" in="true" />
            <add param="subj" in="true" />
            <add param="subjID" in="true" required="false" />
            <add param="allOperType" in="true" required="false" />
            <!--Выходные параметры-->
            <add param="operDate" field="I$OPER_DATE" type="TimeStamp" />
            <add param="cardID" field="I$CARD_ID" type="Decimal" />
            <add param="operType" field="I$OPER_TYPE" type="Integer" />
            <add param="operValue" field="I$OPER_VALUE" type="Decimal" />
            <add param="operSum" field="I$OPER_SUM" type="Decimal" />
            <add param="operPrice" field="I$OPER_PRICE" type="Decimal" />
            <add param="subjID" field="I$SUBJID" type="Integer" />
            <add param="posAddress" field="I$POS_ADDRESS" type="VarChar" len="999" />
            <add param="goodsID" field="I$GOODS_ID" type="Integer" />
            <add param="goodsName" field="I$GOODS_NAME" type="VarChar" len="255" />
            <add param="cardHolder" field="I$CARD_HOLDER" type="VarChar" len="80" />
            <add param="operGuid" field="I$OPER_GUID" type="VarChar" len="32" />
            <add param="operSumDisc" field="I$OPER_SUM_DISC" type="Decimal" />
            <add param="operPriceDisc" field="I$OPER_PRICE_DISC" type="Decimal" />
            <add param="pos" field="I$POS_ID" type="Integer" />
          </method>
          <method name="InfoCardAccountSaldo" procedure="API$INFO_CARD_ACCOUNT_SALDO">
            <!--Входные параметры-->
            <add param="card" is_page="true" in="true" />
            <add param="subj" in="true" />
            <add param="subjID" in="true" required="false" />
            <!--Выходные параметры-->
            <add param="cardID" field="I$CARD_ID" type="Decimal" />
            <add param="subjSaldo" field="I$SUBJ_SALDO" type="Decimal" />
            <add param="cardSaldo" field="I$CARD_SALDO" type="Decimal" />
            <add param="operOpSum" field="I$OPER_OP_SUM" type="Decimal" />
          </method>
          <method name="InfoContractCardList" procedure="API$INFO_CONTRACT_CARD_LIST">
            <!--Входные параметры-->
            <add param="subjID" in="true" is_page="true" />
            <!--Выходные параметры-->
            <add param="ID" field="I$CARD_ID" type="Decimal" />
            <add param="status" field="I$STATUS" type="VarChar" len="255" />
            <add param="owner" field="I$OWNER" type="VarChar" len="80" />
            <add param="type" field="I$TYPE" type="VarChar" len="1" />
          </method>
          <method name="InfoContractAccountSaldo" procedure="API$INFO_CONTRACT_CCOUNT_SALDO">
            <!--Входные параметры-->
            <add param="subjID" in="true" is_page="true" />
            <!--Выходные параметры-->
            <add param="ID" field="I$GOODS_ID" type="Integer" />
            <add param="name" field="I$NAME" type="VarChar" len="255" />
            <add param="saldo" field="I$SALDO" type="Decimal" />
            <add param="unit" field="I$UNIT" type="VarChar" len="20" />
          </method>
          <method name="InfoCardLimitSum" procedure="API$INFO_CARD_LIMIT_SUM">
            <!--Входные параметры-->
            <add param="subjID" in="true" />
            <add param="cardList" in="true" />
            <!--Выходные параметры-->
            <add param="card" field="I$CARD_ID" type="Decimal" />
            <add param="err" field="I$ERR" type="Integer" />
            <add param="daily" field="I$DAILY" type="Decimal" />
            <add param="monthly" field="I$MONTHLY" type="Decimal" />
            <add param="dailyCurr" field="I$DAILY_CURR" type="Decimal" />
            <add param="monthlyCurr" field="I$MONTHLY_CURR" type="Decimal" />
          </method>
          <method name="InfoCardLimitOffline" procedure="API$INFO_CARD_LIMIT_OFFLINE">
            <!--Входные параметры-->
            <add param="subjID" in="true" />
            <add param="cardList" in="true" />
            <!--Выходные параметры-->
            <add param="ID" field="I$CARD_ID" type="Decimal" />
            <add param="errorCode" field="I$ERROR_CODE" type="Integer" />
            <add param="errorMessage" field="I$ERROR_MESSAGE" type="VarChar" len="999" />
            
          </method>
        </methods>
      </service>
    </services>
  </api>

  <nlog configSource="NLog.config" />
</configuration>