<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="run_log" xsi:type="File" layout="${longdate}|${level}|${message}" fileName="${basedir}ApiServiceEngine.log"/>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${message}" />
    <target name="debugger" xsi:type="Debugger"/>
  </targets>

  <rules>
    <logger name="*" level="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Info" writeTo="console,run_log" />
  </rules>
</nlog>
